<div class ="col-md-6 offset-md-3">
    <h3>Cancel Appointment</h3>
    <form (ngSubmit) = "onSubmit()">
    
    <p>To cancel your appointment enter 'N' below</p>
    
        <div class ="form-group">
            <label>Booked Indicator</label>
            <input type ="text" class = "form-control" id =  "bookedInd"
               [(ngModel)] = "Appointment.bookedInd" name = "bookedInd">
        </div>
    
        <button class = "btn btn-success bg-secondary" type = "submit">Submit</button>
    
    </form>
    </div>
